<h1>New static</h1>

<% form_for(@static) do |f| %>
  <%= f.error_messages %>
	<p>
	 <%= f.text_field :skey %>	
	</p>

	<p>
	 <%= f.text_field :svalue %>	
	</p>

	<p>
	 <%= f.text_field :stype, :value => "graduates" %>	
	</p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', statics_path %>
